@model LoginVm

<section class="vh-100 gradient-custom bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem; border: 2px solid #212529">
                    <div class="card-body p-5 text-center">
                        <form class="mb-md-3 mt-md-2" asp-controller="Login" asp-action="Index">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-3">Please enter your login</p>

                            <div class="form-outline form-white mb-4">
                                <input asp-for="Name" placeholder="login" type="text" id="login-input" class="form-control form-control-lg"/>
                            </div>

                            <button class="btn btn-login btn-outline-light btn-lg px-5 w-100" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
let btnLogin = document.querySelector('.btn-login');
let inputLogin = document.getElementById('login-input');
btnLogin.disabled = true;

inputLogin.addEventListener('keyup', () => {
    btnLogin.disabled = inputLogin.value === '' || null;
});
</script>