<link rel="stylesheet" href="~/css/connection/connection-page.css">

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
    <div class="row text-white w-100">
        <div class="col-md pb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Create a game</h5>
                    <p class="card-text">Create a game and get a connection code.</p>
                    <input disabled type="text" placeholder="code" id="code-connection-text" class="form-control mb-3 text-center fw-bold"/>
                    <button type="button" class="btn btn-outline-danger w-100">Create</button>
                </div>
            </div>
        </div>
        <div class="col-md pb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Connecting to the game</h5>
                    <p class="card-text">Paste the code to connect to the game.</p>
                    <input type="text" placeholder="code" id="connection-code-input" class="form-control mb-3 text-center fw-bold"/>
                    <button type="button" class="btn btn-outline-success w-100">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>